body {
    background-color: yellow;
    color: blue;
}

body{
  background:url("https://i.pinimg.com/736x/3e/cf/4b/3ecf4b278dd39048b3a3c715e6a09738.jpg");  
}

ul{
   color:yellow; 
}

h1{
   color:red;   
}

p{
  color:black;  
}






